body { 
    font-family: Georgia, Times, serif; 
    text-rendering: optimizeLegibility;
}

#container {
    display: block;
    margin: 0 auto;
    width: 960px;
}

#container {
    padding: 50px 0;
}

#container img {
    margin: 0 auto;
    display:block;
}

#container a, a:visited {
    text-decoration:none;
    color: gray;
}

#container a:hover {
    color: blue;
}

header, #projects { padding: 100px 100px 0 100px; }

header h1 { 
    height: 200px; 
    width:200px; 
    border-radius: 100px; 
    background: #111; 
    line-height: 200px;
    text-align:center;
    color: snow;
    font-weight: 100;
    display:inline-block;
}

header p { 
    display: inline;
    margin-left: 100px;
}

#container h3 {
    border-top: thin solid lightgray;
    padding-top:25px;
    font-weight:lighter;
}
footer {
    background: #111;
    color: white;    
    height: 200px;
    padding: 0 100px;
    bottom: 0;
    padding: 50px;
}

footer h3 {
    font-weight: lighter;
}

footer h3 {
    font-size: 16px;
}
footer p {
    font-size: 13px;
}

footer a, a:visited {
    color: #FFFFA9;
    text-decoration:none;
}
