body { 
  font-family: Georgia, Times, serif; }

a, a:visited { color: #111; text-decoration:none }
a:hover { text-decoration: underline }

header, #projects { padding: 100px 100px 0 100px; }

header h1 { 
  height: 200px; 
  width:200px; 
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px; 
  background: #111; 
  line-height: 200px;
  text-align:center;
  color: snow;
  font-weight: 100;
  display:inline-block;
}

header h1 a, header h1 a:visited { color: white; text-decoration: none}

header h1 a:hover { color: #FFFFA9; }

header p { 
  display: inline;
  margin-left: 100px;
}

.project {
  margin-bottom: 100px;
}

.project h1 { 
  font-style:italic; 
  font-weight: lighter; 
}

.project img { max-width: 600px }

footer {
  background: #111;
  color: white;    
  height: 200px;
  padding: 50px 100px;
}

footer h3 {
  font-weight: lighter;
}

footer h3 {
  font-size: 16px;
}
footer p {
  font-size: 13px;
}

footer a, footer a:visited {
  color: #FFFFA9;
  text-decoration:none;
}

#gallery {
  min-height:700px;
}